<!--Including the Header File-->
<%- include('partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form"action="/blogs" method="POST" >
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Enter Title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Enter Image URL">
        </div>
        <div class="field">
            <label>Blog Content </label>
            <textarea name="blog[body]"></textarea>
        </div>
        <input type="submit" class="ui inverted yellow button big">
    </form>
    <p>You can Use HTML Code to edit the blog</p>
</div>
<!--Include the Footer File-->
<%- include('partials/footer.ejs') %>